body {
    color: 4e;
    margin: 0;

    text-align: center;
    font-family: "Merriweather", serif;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

h1 {
    font-family: "Sacramento", cursive;
    color: #66bfbf;
    font-size: 5.625rem;
}

.pro {
    text-decoration: underline;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat",sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container{
    margin:100px;
}

.profile-img{
border-radius: 50%;
}


.intro{
    width: 40%;
    margin: auto;
}

p{
    line-height: 2;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.coding{
padding: 12px;
}

.chilli-img{
    width: 50%;
    margin-left: 30px;
}

.hot-wings{
    padding: 12px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn{
    background-color: #11cdd4;
    border-radius: 8px;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px ;
}

a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}